<h1 class="title">Calculator Components</h1>

<div class="body">
    <app-numbers
    (finalResult)="getResult($event)"
    (firstNANValue)="getBool1($event)"
    (secNANValue)="getBool2($event)"
    (firstNumValue)="getNum1($event)"
    (secNumValue)="getNum2($event)"
    (void1)="getVoid1($event)"
    (void2)="getVoid2($event)"
    ></app-numbers>

    <app-result
    [finalRes]="result"
    [firstNan]="firstNan"
    [secNan]="secNan"
    [firstNum]="firstNum"
    [secNum]="secNum"
    [option]="opt"
    [voidFirst]="voidOne"
    [voidSec]="voidTwo"
    ></app-result>

    <app-operation
    (operation)="getOperation($event)"
    [voidFirst]="voidOne"
    [voidSec]="voidTwo"
    ></app-operation>
</div>